@import './tachyons/tachyons';

.aktiv-ex {
  font-family: 'aktiv-grotesk-extended', sans-serif;
}
.aktiv {
  font-family: 'aktiv-grotesk', sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-stroke {
  -webkit-text-stroke: 2px #fff;
}

.blend {
  mix-blend-mode: overlay;
}
.show-child-on-hover {
  .child {
    left: 0;
    opacity: 0;
    transition: 0.5s;
  }
  &:hover {
    .child {
      opacity: 0.8;
    }
  }
}

.btn {
  text-decoration: none;
  &:hover {
    background: white;
    border-color: white;
    color: var(--pink);
  }
}
