@import './tachyons/tachyons';

.aktiv-ex {
  font-family: 'Aktiv Grotesk Ex';
}
.aktiv {
  font-family: 'Aktiv Grotesk';
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-stroke {
  -webkit-text-stroke: 2px #fff;
}

.blend {
  mix-blend-mode: overlay;
}
